body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Fondo beige claro para todo el cuerpo */
}

.background-container {
    display: flex;
    justify-content: center;
    min-height: 100vh; /* Altura mínima de la pantalla completa */

    .main-container {
        background-color: #ffffff; /* Fondo blanco para el contenido */
        width: 70%;
        max-width: 1100px;
        margin-top: 80px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra suave */
        padding: 20px;
        border-radius: 5px;
        position: relative; /* Posicionamiento relativo para el z-index */
        z-index: 1; /* Asegúrate de que el contenido está sobre la imagen de fondo */
        align-items: flex-start; /* Alinea los elementos hijos a la izquierda */
        display: grid;
        grid-template-columns: 1fr 1fr; /* Divide el contenedor principal en dos columnas iguales */
        align-items: start; /* Alinea los elementos al inicio verticalmente */
        

.subject-list-container, .subject-details {
    margin-bottom: 20px;
}

.subject-list-item {
    background-color: #fff;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 4px solid;
    display: flex; /* Usa flexbox para alinear los elementos internos horizontalmente */
    flex-direction: column; /* Orientación vertical */
    align-items: flex-start; /* Centra los elementos verticalmente */
    gap: 30px; /* Espacio entre la imagen y el texto */
    font-size: 30px;
    width: 255px; /* Ancho del marco */
    margin: 10px auto; /* Centrado y con un margen uniforme alrededor */
    margin-left: 40px;
    font-family: 'Work Sans', sans-serif;
    
}

.subject-list-item.humano {
    border-color: red;
}

.subject-list-item.descargado {
    border-color: green;
}
.subject-list-item.vivo {
    border-color: red;
}
.culpabilidad-posible span {
    color: green;
}

.culpabilidad-cooperador span {
    color: orange;
}

.culpabilidad-perpetrador span {
    color: red;
}

.subject-list-item img {
    width: 255px;
    height: 305px;
    border: 1px solid; /* El color del borde se establece mediante JavaScript */
}

.subject-details {
    display: flex;
    flex-direction: row; /* Asegura una disposición horizontal */
    gap: 10px; /* Espacio entre los botones del formulario */
    align-items: center; /* Alineación vertical */
    /* Otros estilos necesarios */
}

.toggle-button, .add-button, .button, .delete-button {
    background-color: #3bc9bd;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Margen para separar ligeramente los botones */
    min-width: 150px; /* Ancho mínimo para que todos los botones tengan un tamaño similar */
    
}

.toggle-button:hover, .add-button:hover, .button:hover, .delete-button:hover {
    background-color: rgb(175, 194, 250);
}

.delete-button {
    background-color: red; /* O cualquier otro estilo que desees para el botón de eliminar */
    color: white; /* Asegurarte de que el texto sea visible */
}

.buttons-container {
    display: flex;
    justify-content: start;
    gap: 10px; /* Ajusta el espacio entre botones según sea necesario */
    /* Otros estilos que necesites */
}
.button-group {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 600px; /* Aumenta el ancho máximo del formulario */
    margin-top: 20px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    /* ... (otros estilos) ... */
    padding: 10px; /* Aumenta el padding para hacer los campos más grandes */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
}

.form-group {
    margin-bottom: 5px;
    height: 90px; 
}
#subjectImage {
    width: 700px; /* Aumenta el ancho de la imagen */
    height: 800px; /* Aumenta la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen mantenga sus proporciones */
    border-radius: 10px; /* Agrega bordes redondeados a la imagen */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Agrega sombra a la imagen */
}

.button-group .button {
    padding: 12px 0; /* Aumenta el padding vertical para hacer los botones más grandes */
    font-size: 16px; /* Aumenta el tamaño de la fuente en los botones */
}
.button-group {
    margin-top: 20px; /* Añade espacio adicional antes del grupo de botones */
}
